.seat-row {
    position: relative;
    white-space: nowrap;
    align-items: baseline;
    display: flex;
    -ms-flex-pack: justify;
    min-width: 200px;
    clear: both;
    margin: 8px 0;
  }
  
  .divide-category {
    margin-right: 20px;
  }
  
  .seat-label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #4D455D;
    line-height: 1.5rem;
    padding: 4px 0;
    border-radius: 2px;
    animation-duration: 300ms;
    animation-fill-mode: both;
    border: 1px solid;
  }
  
  .seat {
    width: 30px;
    padding: 0 5px;
  }
  
  .selected {
    /* background-color: #F5E9CF; */
    background-color: #FCF3CA;
  }
  
  .booked {
    /* background: #E96479; */
    background-color: #FF6473;
  }
  
  .available {
    /* background: #7DB9B6; */
    background-color: #66BFBF;
  }
  
  .new-booking {
    clear: both;
    padding: 10px 0;
  }
  
  .conformation-container {
    width: 300px;
    margin: 0 auto;
  }